/* Grid Styles */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.grid div img {
    width: 100%;
}
/* General Styles */
body {
    font-family: 'Karla', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    color: #fff; /* Set default text color to white */
}


/* Wrapper Styles */
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: #f3f0e9; 
}

/* Header and Navigation */
header {
    background-color: #000;
    color: #fff;
    padding: 1rem 0;
    font-size: 2em;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

nav .brand {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

nav .brand .logo {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
}

nav .nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav .nav-links li {
    margin-bottom: 0.5rem;
    margin-right: 2rem;
}

nav .nav-links li a {
    color: #fff; 
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
}

nav .nav-links li a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero-wrapper {
    width: 100%;
    margin: 0;
    padding: 0; /* Remove padding to ensure it touches the edges */
    overflow: hidden; /* Ensure no overflow */
}

.hero {
    text-align: center;
    padding: 4rem 1rem;
    background: url('../images/hero-background.jpg') no-repeat center center/cover;
    color: #fff;
    position: relative;
    margin: 0;
    width: calc(100% + 2rem);
    margin-left: -1rem; /* Offset the left margin */
    margin-right: -1rem; /* Offset the right margin */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}
/* Semi-transparent background for the menu and locations content */
.hero hgroup, .hero button {
    position: relative;
    z-index: 2;

    
}
/* Hero Section
.hero {
    text-align: center;
    padding: 4rem 0; 
    background: url('../images/hero-background.jpg') no-repeat center center/cover; 
    color: #fff;
    position: relative;
} */

.hero h1 {
    font-size: 2rem; 
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-weight: bold; 
    line-height: 1.2;
    letter-spacing: 0.05em;
   
}

.hero p {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem; 
    color: #fff;
    text-align: center; 
    line-height: 1.6; 
    max-width: 700px;
    margin: 0 auto;
}

.hero button {
    background-color: white;
    color: black;
    border: none;
    padding: .5rem 2rem ;
    cursor: pointer;
    font-size: 1rem; 
    text-transform: uppercase;
    transition: background-color 0.3s;
    font-weight: bold; 
    width: auto; 
    display: inline-block; 
}

.hero button:hover {
    background-color: #966f2c;
    color: #fff;
}
/* Additional styling to prevent text from covering the image */
.hero hgroup {
    display: inline-block;
    padding: 1rem 2rem;
    
}


/* Content Section */
.content-section {
    margin: 2rem 0;
}

/* Grid Styles */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.grid.large-first .grid-item:first-child {
    grid-column: span 2;
}


#welcome h2 {
    color: #d69e3d; 
    text-transform: uppercase;
}
#welcome h3 {
    font-size: 2.2em;
    color: #000;
}


/* Specific Styles for Offer Section */
#offer {
    text-align: center;
}

#offer h2 {
    color: #d69e3d;
    font-size: 1.802rem;
    text-transform: uppercase;
}

#offer h3 {
    margin-bottom: 1rem;
    font-size: 1.424rem;
    color: #333;
    text-transform: uppercase;
}

.offer-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem; 
}



.offer-item img {
    width: 60px; 
    height: 150px; 
    object-fit: contain;
    margin: 0 auto 1rem; /* Center the image and add bottom margin */
}

.offer-item h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0.5rem 0;
    color: #333; 
}

.offer-item p {
    font-size: 1rem; 
    color: #000; 
    max-width: 80%; /* Restrict the width of the paragraph */
    margin: 0 auto; 
  
}


/* Menu and Locations Section */
.menu-background {
    width:calc(100%+2rem) ;
    margin: 2rem 0; 
    position: relative;
    padding: 4rem 1rem; 
    background: url('../images/coffee-shop.jpeg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
     margin-left: -1.7rem; 
    margin-right: -1.7rem;  
    margin-bottom: 80px;
     
}
.menu-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 1; /* Ensure it appears above the background image but below the content */
}
/* Semi-transparent background for the menu and locations content */
.menu-content {
    position: relative;
    z-index: 2;
    display: block;
    box-sizing: border-box; 
    text-align: center;
    
}

/* Specific styling for the "Our Menu" heading */
.menu-content h3 {
    font-size: 1.5rem;
    color: #d69e3d; /* Yellow color for "Our Menu" */
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/* Specific styling for the "Explore" heading */
.menu-content h2 {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

/* Specific styling for the "Explore our menu" button */
.explore-button {
    background-color: #fff; /* White background */
    color: #000; /* Black text */
    border: 2px solid #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    width: auto;
    display: inline-block;
    margin-bottom: 20px;
}

/* Specific styling for the "View locations" button */
.locations-button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    width: auto;
    display: inline-block;
}

/* Hover state for buttons */
.explore-button:hover, .locations-button:hover {
    background-color: #d69e3d;
    border-color: #d69e3d;
    color: #fff;
}


/* About Us Section */
#about-us {
    padding: 2rem 1rem;
    text-align: left;
}

#about-us h3 {
    font-size: 2rem;
    color: #333; /* Dark color for "Read Our Story" */
    text-transform: uppercase;
    margin-bottom: 1rem;
}

#about-us h2 {
    font-size: 1.2rem;
    color: #d69e3d; /* Yellow color for "About Us" */
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

#about-us p {
    font-size: 1rem;
    color: #333; /* Text color */
    line-height: 1.5;
    margin-bottom: 1rem;
}

#about-us button {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    border: none;
    padding: 0.8rem 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    width: auto;
    
}

#about-us button:hover {
    background-color: #860a0a; /* Slightly lighter black on hover */
}

 


